* {
    margin: 0;
    padding: 0;
  }
ul {
    list-style: none;
}
nav {
    background-color: #432874;
    display: flex;
    justify-content: space-between;
    color: white;
}
#menu_bar {
    display: none;}
#nav_list {
    color: white;
    display: flex;
    justify-content: flex-start;
}

#nav_list li {
    padding: 1em 1.2em 1em 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition: background-color 0.25s, border-bottom 0.25s;
}

#nav_list li:hover {
    background-color: #4d3677;
    border-bottom: 3px solid #4d3677;
    cursor: pointer;
}
#logo {
    padding: 1em 1.5em 1em 1.5em;
}

#resources {
    color: white;
    display: flex;
    justify-content: flex-start;
}
#end_nav {
    display: flex;
    justify-content: flex-start;
}
#resources li {
    padding: 1em 1.2em 1em 1.2em;
    font-size: 1.2em;
}
.resources_icon {
    padding: 1em 0em 1em 0em;
    font-size: 1.2em;
}
#refresh {
    padding: 1em 1.5em 1em 1.5em;
    color: lightgray;
    transition: color 0.25s;
}
#refresh:hover {
    color: white;
    cursor: pointer;
}

@media (max-width: 992px)
{
    #nav_list li, #resources {
        display: none;
    }
    #menu_bar{
        padding: 1em 1.5em 1em 1.5em;
        display: flex;
        color: lightgray;
        transition: color 0.25s;
    }
    #menu_bar:hover
    {
        color: white;
        cursor: pointer;
    }

}